# OS files
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Backend
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/.env
backend/venv/
backend/env/
backend/bin/
backend/lib/
backend/include/

# Large Documents
*.pdf
*.key

# Misc
.vscode/
.idea/
